.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: var(--neutral-02);
}

.modal-content {
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-content h2 {
    margin: 0;
    text-align: center;
    color: var(--neutral-02);
}

.modal-content img {
    width: 120px;
    height: 100px;
    align-self: center;
}

#valortotal {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
}

@media (max-width:430px) {
.modal{
    width: 100%;
}
.modal-content{
    width: 80%;
}
 

}