@import url('../../../index.css');

.bey-abertura-background{
  display: flex;
  height: 90vh;
  background-image: url('../../../assets/images/beyonce.png');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
  position: relative;
}