@import url('../../../index.css');

.bey-abertura-background {
  display: flex;
  height: 100vh;
  background-image: url('../../../assets/images/bey-abertura.png');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;

  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
  position: relative;
}

@media (max-width: 830px) {
  .bey-abertura-background {
    justify-content: center;
    padding-right: 0;
    height: 100vh;
  }
}

@media (max-width: 430px) {
  .bey-abertura-background {
    justify-content: center;
    padding-right: 0;
    height: 100vh;
  }
}
