@import url('../../index.css');

.veiculos-ativos-container{
    background-color: var(--neutral-04);
    opacity: 0.8;
    position: absolute;   
    top: 50%;              
    left: 50%;             
    transform: translate(-50%, -50%); 
    width: 664px;
     min-height: 552px; /* altura mínima, mas cresce conforme o conteúdo */
    height: auto;       /* deixa o conteúdo expandir */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.veiculos-ativos-container h1{
    color: var(--neutral-01);
    font-size: var(--headliner-01);
    padding: 30px 0px 10px 0px;

}
.veiculos-ativos-content{
  margin: 30px 0px 10px 0;
}
.veiculos-ativos-content h2{
 color: var(--neutral-01);
 font-size: var(--headliner-02);
 text-align: center;
   
}
.button-container-veiculos{
    margin-top: 20px;
    font-weight: bold;
    
}
.informacoes-carro h3{
    color: var(--neutral-01);
    font-size: var(--headliner-05);
    text-align: center;
}
.informacoes-carro{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.data-entrada{
    background-color: var(--neutral-01);
    width: 256px;
    height: 50px;
    text-align: center;
    font-size: var(--text-body-big);
    font-weight: bold;
    padding: 14px 64px;
}
.horario-entrada{
     background-color: var(--neutral-01);
    width: 256px;
    height: 50px;
    text-align: center;
     font-size: var(--text-body-big);
    font-weight: bold;
    padding: 14px 64px;
}
@media (max-width:430px){
    .veiculos-ativos-container{
    width: 300px;
        height: auto; 
    }
    .veiculos-ativos-container h1{
        font-size: var(--headliner-02);
    }

}