@import url('../../index.css');
.veiculo-container {
    background-color: var(--secondary-color);
    width: 640px;
    height: 340px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.veiculo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 42px 74px;
    margin-bottom: 14px;
}

.veiculo-content h1 {
    color: var(--neutral-01);
    font-size: var(--headliner-01);
    text-align: center;
}