@import url('../../../index.css');

.background-bey-reinasscense{

    display: flex;
    height: 100vh;
    background-image: url('../../../assets/images/beyonce.png');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
}
@media (max-width:830px) {
    .background-bey-reinasscense{
        justify-content: center;
    }

}
@media (max-width:430px) {
    .background-bey-reinasscense{
        justify-content: center;
    }

}