@import url('../../index.css');

header {
    background-color: var(--neutral-04);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--neutral-01);
    padding: 20px 32px;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 10;
}

.nav-header ul {
    list-style: none;
    display: flex;
    gap: 62px;
}
.nav-header a {
  text-decoration: none;
  color: var(--neutral-01);
  font-size: var(--text-body-small);
}


.btns-header {
    display: flex;
    gap: 30px;
}

.btn-login {
    background-color: var(--secondary-color);
    padding: 10px;

    border-radius: 6px;
    color: var(--neutral-01);
    text-decoration: none;
    font-size: var(--text-body-small);
    text-align: center;
}

.btn-cadastro {
    background-color: var(--primary-color);
    padding: 10px;

    border-radius: 6px;
    text-decoration: none;
    color: var(--neutral-01);
    font-size: var(--text-body-small);
}
.btn-login:hover{
    transform: scale(1.05);
}
.btn-cadastro:hover{
    transform: scale(1.05);
}
.hamburger {
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    height: 4px;
    width: 100%;
    background: var(--neutral-01);
    border-radius: 2px;
    transition: 0.3s;
}

/* Animação quando abre */
.hamburger.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
.hamburger.open span:nth-child(2) {
    opacity: 0;
}
.hamburger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}
@media (max-width: 430px) {

      .hamburger {
        display: flex;
    }

    /* Esconde o menu e botões no mobile por padrão */
    .nav-header,
    .btns-header {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 50%;
        background: var(--neutral-04);
        padding: 20px 0;
        position: absolute;
        top: 100%;
        left: 50%;
    }
    .nav-header{
        z-index: 10;
        position: absolute;
        width: 50%;
    }

    /* Quando ativo → aparece */
    .nav-header.active,
    .btns-header.active {
        display: flex;
    }

    .nav-header ul {
        flex-direction: column;
        gap: 20px;
    }

    .btns-header {
        left: 0;
    }
}

@media (max-width: 830px) {
    .nav-header ul {
        gap: 10px;
        text-align: center;
        align-items: center;
    }   

    .btns-header {
        gap: 10px;

    }
}