@import url('../../index.css');

.container-home {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: var(--neutral-01);
    text-align: center;
    background-color: var(--neutral-04);
    border-radius: 6px;

}

 .container-home h1 {
    color: var(--neutral-01);
    font-size: var(--headliner-01);
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.content-home p{
    padding: 10px;
    font-size: var(--text-body-big);
    font-weight: bolder;

}

@media (max-width:830px) {
       .container-home{
        width: 700px;
    }
     
}

@media (max-width:430px) {


    .container-home{
        width: 320px;
    }
     .container-home h1 {
    color: var(--neutral-01);
    font-size: var(--headliner-03);
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}
}