@import url('../../index.css');

.container-home {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: var(--neutral-01);
    text-align: center;
    background-color: var(--neutral-04);
    border-radius: 6px;

}

 .container-home h1 {
    color: var(--neutral-01);
    font-size: var(--headliner-01);
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.content-home p{
    padding: 10px;
    font-size: var(--text-body-big);
    font-weight: bolder;

}