* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
--primary-color:#95B0E5;
--secondary-color:#285A97;
--neutral-01: #FFFFFF;
--neutral-02: #161B21;
--neutral-03: #979dac;

--headliner-01:48px;
--headliner-02:40px;
--headliner-03:36px;
--headiner-04:32px;
--headliner-05:26px;
--text-body-big:20px;
--text-body-small:18px;
--text-caption:14px;
--text-btn:16px;
}
