@import url('../../index.css');


.login-page {
  display: flex;
  height: 100vh;
  background-image: url('../../assets/images/bey-abertura.png');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
}

.login-form-container {
  width: 506px;
  height: 600px;
  background-color: var(--neutral-04);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

.form-login fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form-login fieldset legend {
  color: var(--neutral-01);
  font-size: var(--headliner-01);
  text-align: center;
  margin-bottom: 40px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


input {
  width: 376px;
  height: 54px;
  padding: 16px 8px;
  border-radius: 6px;
  border: 1px solid var(--neutral-02);
  background-color: var(--neutral-01);
  color: var(--neutral-01);

}
input::placeholder{
    color: var(--neutral-04);
}